<%= form_for(@do_list) do |f| %>
  <% if @do_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@do_list.errors.count, "error") %> prohibited this do_list from being saved:</h2>

      <ul>
      <% @do_list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group">
      <%= f.label :task_name %>
    </div>
    <div class="form-group">
      <%= f.text_field :task %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
</script>