<h1>Listing Task Lists</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr><b>Publish False</b></tr>
    <% @do_lists_false.each do |do_list| %>
      <tr>
        <td><a href="/task_values?task_id=<%= do_list.id %>"><%= do_list.task %></a></td>
        <td><a href="/task_values/new?task_id=<%= do_list.id %>">Add task details</a></td>
        <!-- <td><%= link_to 'Show', do_list %></td> -->
        <td><%= link_to 'Edit', edit_do_list_path(do_list) %></td>
        <td><%= link_to 'Destroy', do_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Mark', "/do_lists/do_lists_publish_mark?task_id=#{do_list.id}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/>
<br/>
<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr><b>Publish True</b></tr>
    <% @do_lists_true.each do |do_list| %>
      <tr>
        <td><a href="/task_values?task_id=<%= do_list.id %>"><%= do_list.task %></a></td>
        <td><a href="/task_values/new?task_id=<%= do_list.id %>">Add task details</a></td>
        <!-- <td><%= link_to 'Show', do_list %></td> -->
        <td><%= link_to 'Edit', edit_do_list_path(do_list) %></td>
        <td><%= link_to 'Destroy', do_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Unmark', "/do_lists/do_lists_publish_unmark?task_id=#{do_list.id}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Do list', new_do_list_path %>
