<%= form_for(@task_value) do |f| %>
  <% if @task_value.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task_value.errors.count, "error") %> prohibited this task_value from being saved:</h2>

      <ul>
      <% @task_value.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group">
      <%= f.label :task_value %>
    </div>
    <div class="form-group">
      <%= f.text_field :task_values %>
      <%= f.text_field :do_lists_id, :type => 'hidden', :value => params[:task_id] %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
