<h1>Listing Task Values</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr><b>Publish False</b></tr>
    <% @task_values_false.each do |task_value| %>
      <tr>
        <td><%= task_value.task_values %></td>
        <!-- <td><%= link_to 'Show', task_value %></td> -->
        <td><%= link_to 'Edit', "/task_values/#{task_value.id}/edit?task_id="+params[:task_id] %></td>
        <td><%= link_to 'Destroy', "/task_values/#{task_value.id}?task_id="+params[:task_id], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Mark', "/task_values/task_values_publish_mark?task_id="+params[:task_id]+"&value_id=#{task_value.id}" %></td>
      </tr>
    <% end %>
    
  </tbody>
</table>

<br/>
<br/>
<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr><b>Publish True</b></tr>
    <% @task_values_true.each do |task_value| %>
      <tr>
        <td><%= task_value.task_values %></td>
        <!-- <td><%= link_to 'Show', task_value %></td> -->
        <td><%= link_to 'Edit', "/task_values/#{task_value.id}/edit?task_id="+params[:task_id] %></td>
        <td><%= link_to 'Destroy', "/task_values/#{task_value.id}?task_id="+params[:task_id], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Unmark', "/task_values/task_values_publish_unmark?task_id="+params[:task_id]+"&value_id=#{task_value.id}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', '/do_lists' %>

<%= link_to 'New Task value', '/task_values/new?task_id='+params[:task_id] %>
